<a href="https://colab.research.google.com/github/Abdul-pitodia/Movie_recommender_python/blob/main/Movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [12]:
movie = pd.read_csv('main_data.csv')

In [13]:
movie.head()

       director_name  ...                                               comb
0      James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1     Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2         Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3  Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4        Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...

[5 rows x 7 columns]

In [14]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6010 entries, 0 to 6009
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   director_name  6010 non-null   object
 1   actor_1_name   6010 non-null   object
 2   actor_2_name   6010 non-null   object
 3   actor_3_name   6010 non-null   object
 4   genres         6010 non-null   object
 5   movie_title    6010 non-null   object
 6   comb           6010 non-null   object
dtypes: object(7)
memory usage: 328.8+ KB

In [15]:
movie['index'] = movie.reset_index().index

In [16]:
movie.head()

       director_name  ... index
0      James Cameron  ...     0
1     Gore Verbinski  ...     1
2         Sam Mendes  ...     2
3  Christopher Nolan  ...     3
4        Doug Walker  ...     4

[5 rows x 8 columns]

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
# creating a count matrix
cv = CountVectorizer()
count_matrix = cv.fit_transform(movie['comb'])
# creating a similarity score matrix
similarity = cosine_similarity(count_matrix)
print(count_matrix.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [18]:
def get_index_from_title(title):
    return movie[movie['movie_title'] == title]["index"].values[0]

get_movie = input().lower()
try:
  movie_index = get_index_from_title(get_movie)
except:
  print('Movie not found.')

similar_movies = list(enumerate(similarity[movie_index]))
similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[:15]
print(similar_movies)

avengers: endgame
[(5698, 0.9999999999999998), (5453, 0.9128709291752768), (24, 0.6445033866354896), (75, 0.4472135954999579), (7, 0.4296689244236597), (749, 0.4296689244236597), (5860, 0.3892494720807615), (331, 0.38729833462074165), (154, 0.37267799624996495), (5491, 0.37267799624996495), (5654, 0.37267799624996495), (28, 0.35805743701971643), (5620, 0.35805743701971643), (193, 0.3450327796711771), (6001, 0.3450327796711771)]

In [19]:
def get_title_from_index(index):
  return movie[movie['index'] == index]['movie_title'].values[0]

movies_lst = []
for idx,cos in similar_movies:
  movies_lst.append(get_title_from_index(idx))

for i in range(1,len(movies_lst)):
  print(movies_lst[i].title())

Avengers: Infinity War
Captain America: Civil War
Captain America: The Winter Soldier
Avengers: Age Of Ultron
The Avengers
Star Wars: The Rise Of Skywalker
Sherlock Holmes
Captain America: The First Avenger
Jurassic World: Fallen Kingdom
Alita: Battle Angel
Iron Man 3
Bumblebee
Sherlock Holmes: A Game Of Shadows
Free Guy